*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
}
body>*{
    margin: 1em;
}
nav{ 
    position: sticky;
    top: 0;
    
    grid-area: navbar;
    background-color: blue;
    color: white;
    padding: 1em;
}
aside{
    height: calc(100vh - 50.4px);
    position: sticky;
    
    top: 50.4px;
    grid-area: sidebar;
    background-color: gray;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 2em;
}

@media screen and (max-width:576px){
    body{
        grid-template-columns: 1fr;
        margin: 10px;
    }
    main{
        h1{
            font-size: 1rem;
        }
        p{
            font-size: 14px;
        }
    }

    aside{
        /* visibility: hidden; */
        display: none;
    }
    footer{
    color: white;
    padding: 1em;
}
 }
 @media screen and (min-width:577px) and (max-width:992px){
    body{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 1fr auto;
}
 }